<div [innerHTML]="jsonLD | safeJsonScript">
</div>

<div id="titleDiv">
  <h1>OUR SERVICES</h1>
  <p>
    Brighthill Lawyers provides Commercial litigation and Property services to our clients in a timely and commercial cost-effective
    means which above all else is practical and resolution focused.
  </p>
</div>

<div id="servicesDiv">

  <div class="items">
    <i class="fas fa-calendar-alt"></i>
   <div>
      <h2>Litigation &amp; Dispute Resolution</h2>
      <p>
        Should you find yourself in a dispute that appears unmovable, Brighthill Lawyers may provide resolution focused options to
        promote settlement and avoid the stress and cost of going to Court. Should Court prove inevitable, we are experienced to
        provide you with legal advice and strategies to bring about the best outcome for your case. Feel free to call to discuss
        your dispute or risk mitigation.
      </p>
   </div>
  </div>
  <div class="items">
    <i class="fas fa-globe-asia"></i>
    <div>
      <h2>Property &amp; Real Estate</h2>
      <p>
        Brighthill Lawyers provides legal services to buy or sell real property, assist you with Body Corporate issues or help you
        with any easement or contracts. Alternatively, Brighthill Lawyers is happy to assist you with your contract drafting or
        options. Feel free to contact us to discuss your real estate matter.
      </p>
    </div>
  </div>
  <div class="items">
    <i class="fas fa-building"></i>
   <div>
      <h2>Construction</h2>
      <p>
        Brighthill Lawyers provide legal services to assist you with your construction contracts drafting/interpretation or disputes
        / debt recovery/negligence or third-party damage claims. Feel free to give us a call to discuss your construction matter.
      </p>
   </div>
  </div>
  <div class="items">
    <i class="fas fa-hand-holding-usd"></i>
    
    <div>
      <h2>Insolvency &amp; Debt Recovery</h2>
      <p>
        Brighthill Lawyers may assist you with your debt recovery needs or provide advice regarding Bankruptcy or Corporate Insolvency.
        Feel free to give us a call to discuss your insolvency or debt recovery issue.
      </p>
    </div>
  </div>
  <div class="items">
    <i class="fas fa-money-bill-alt"></i>
    <div>
      <h2>Commercial &amp; Business</h2>
      <p>
        Brighthill Lawyers may assist you in buying or selling your business or franchise, PPSR, corporate share sales or assist
        you in resolving your partnership disputes. Feel free to give us a call to discuss your commercial business requirements.
      </p>
    </div>
  </div>
  <div class="items">
    <i class="fas fa-file-signature"></i>
    <div>
      <h2> Wills &amp; Estates &amp; Trusts</h2>
      <p>
        Brighthill Lawyers may assist you with your will, trust structure or providing legal advice or recommendations for estate
        planning.
      </p>
    </div>
  </div>
</div>