#titleDiv{
    text-align: center;
    padding: 100px;
    p{
        color: #333333;
        
    }
}

#servicesDiv{
    display: flex;
    flex-flow: row wrap;

    .items{
        display: flex;
        // flex-flow: row wrap;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        margin: 20px;
        line-height: 22px;
        font-size: 20px;
        background-color: #d9e9f7;;
        border-radius: 3px;
        .fas{
            font-size: 50px;
            margin-right: 20px;
        }
        h2{
            line-height: 35px;
        }
    }
}
@media screen and (max-width: 599px){
#titleDiv{
    padding: 50px;
}
#servicesDiv{

    .items{
        padding: 10px;
        line-height: 22px;
        font-size: 20px;
        .fas{
            font-size: 50px;
            margin-right: 10px;
        }
    }
}
}