<div id="bannerQuote">
  <div id="background"></div>
  <h1>Your Commercial Advisor</h1>
  <p>Brighthill Lawyers is a Commercial Litigation and Property law firm based in Brisbane for commercial businesses. We focus
  on providing practical commercially minded legal services in a timely manner that is best suited to the client’s existing
  and future business systems.</p>
  <button routerLink="/contact" title="Contact" mat-raised-button color="primary">Book Your Meeting</button>
</div>

<h3 id="ourServices">OUR SERVICES</h3>
<div id="homeServicesDiv">
  <div class="items">
    <div>
      <h5>Litigation &amp; Dispute Resolutions</h5>
      <p>
        Practical advice and strategies to minimise risk and improve commercial outcomes towards settlement.
      </p>
<button mat-button color="accent" routerLink="/Services" title="Services">Read More</button>
    </div>
  </div>
  <div class="items">
    <div>
      <h5>Property &amp; Real Estate</h5>
      <p>
        Leasing, Body Corporate, buying or selling property to easements and titling.
      </p>
      <button mat-button color="accent" title="Services" routerLink="/services">Read More</button>
    </div>
  </div>
  <div class="items">
   <div>
      <h5>Insolvency &amp; Debt recovery</h5>
      <p>
        Commercial minded Insolvency and/or Debt recovery legal services.
      </p>
      <button mat-button color="accent" title="Services" routerLink="/services">Read More</button>
   </div>
  </div>
  <div class="items">
    <div>
      <h5>Construction</h5>
      <p>
        Practical and commercial minded legal services in plain english.
      </p>
      <button mat-button color="accent" title="Services" routerLink="/services">Read More</button>
    </div>
  </div>
  <div class="items">
    <div>
      <h5>Commercial &amp; Business</h5>
      <p>
        Commercially minded legal services to buy or sell your business, franchise, shares or settle your disputes.
      </p>
 
 <button mat-button color="accent" title="Services" routerLink="/services">Read More</button>   </div>
  </div>
  <div class="items">
    <div>
      <h5>Wills &amp; Estates &amp; Trusts</h5>
      <p>
      
      </p>
      <button mat-button color="accent" title="Services" routerLink="/services">Read More</button>
    </div>
  </div>
</div>