<div [innerHTML]="jsonLD | safeJsonScript">
</div>
<div id="bannerQuote">
  <div id="background"></div>
  <h3>Brighthill Lawyers</h3>
  <p>Brighthill Lawyers is a commercial litigation and property law firm based in Brisbane for commercial businesses. We focus
    on providing practical commercial legal services in a timely manner that is best suited to the client’s existing and
    future business systems.</p>
</div>

<div id="valuesDiv">
  <div class="valuesItems">
    <i class="fas fa-suitcase"></i>
    <h3>PRACTICALITY</h3>
    <p>
      Practical commercial legal services in a timely manner that is resolution focused.
    </p>
  </div>
  <div class="valuesItems">
    <i class="fas fa-calculator"></i>
    <h3>LEGAL SOLUTIONS</h3>
    <p>
      Brighthill Lawyers aims to provide clients with practical and logical strategies at the highest standards of professional
      excellence and integrity.
    </p>
  </div>
  <div class="valuesItems">
    <i class="fas fa-credit-card"></i>
    <h3>CLIENT SATIFACTION</h3>
    <p>
      Commercially minded dispute resolution to satisfy the existing and future needs of clients.
    </p>
  </div>
  <div class="valuesItems">
    <i class="fas fa-book"></i>
    <h3>CLIENT TRUST</h3>
    <p>
      Brighthill Lawyers is committed to working with clients and provide strategies to achieve the best business objective.
    </p>
  </div>
</div>
<mat-divider></mat-divider>
<div id="bottomBlurb">
  <div class="items">
   <div>
      <p>Our Practice Director works with each client to provide resolution focused solutions that are best suited to satisfy the
        client’s existing and future business needs.</p>
      <p>
        Above all else, we provide practical and commercially focused legal services to resolve legal issues quickly. Our Practice
        Director, having worked in Commercial and Construction Manufacturing, has a strong commercial foundation to better understand
        your business structure and provide practical cost-effective solutions.
      </p>
   </div>
  </div>
  <div class="items">
    <img src="assets/pen-to-paper.jpg" alt="Lawyer working" title="Lawyer working">
  </div>
</div>