<div id="footer">
    <div id="socialDiv">
    
        <a href="https://www.facebook.com/brighthilllawyers.com.au/" target="_about" title="Facebook Link" mat-fab>
            <i class="fab fa-facebook-f"></i>
        </a>
    
        <a routerLink="contact" title="Contact us" mat-fab>
            <i class="fas fa-envelope"></i>
        </a>
    
    </div>
    <div id="address">
        <p>
            Brighthill Lawyers PTY LTD, PO BOX 12639, George Street, Brisbane, QLD 4003, Australia.
        </p>
        <p>
            <a href="tel:0401508472" title="Mobile number"><i class="fas fa-phone"></i> 0401 508 472</a>
        </p>
    </div>
</div>